# Fichiers temporaires
*.log
*.tmp
*.cache
*.bak

# PHP et XAMPP
*.sql
*.db
*.sqlite

# Dossiers inutiles
node_modules/
vendor/

# Config personnelle
.vscode/
.env

# Fichiers compressés
*.rar
*.zip

# Fichiers du projet à ne pas suivre
rosita.rar
magasin (1).sql
